<%- include('partials/header') %>

<div id="messages"></div>

<form id="chatForm">
    <input type="text" id="messageInput" placeholder="Type a message" autocomplete="off">
    <button type="submit">Send</button>
</form>


<%- include('partials/footer') %>